[submodule "plugins/magit"]
	path = plugins/magit
	url = https://github.com/magit/magit.git
[submodule "plugins/color-theme-tangotango"]
	path = plugins/color-theme-tangotango
	url = http://github.com/juba/color-theme-tangotango.git
[submodule "plugins/scratch-el"]
	path = plugins/scratch-el
	url = http://github.com/ieure/scratch-el.git
[submodule "plugins/emacs_chrome"]
	path = plugins/emacs_chrome
	url = http://github.com/stsquad/emacs_chrome.git
[submodule "plugins/polish-holidays"]
	path = plugins/polish-holidays
	url = https://github.com/mikolajb/emacs-polish-holidays.git
[submodule "plugins/icicles"]
	path = plugins/icicles
	url = http://github.com/emacsmirror/icicles.git
[submodule "plugins/dired-plus"]
	path = plugins/dired-plus
	url = http://github.com/emacsmirror/dired-plus.git
[submodule "plugins/autopair"]
	path = plugins/autopair
	url = https://github.com/capitaomorte/autopair.git
[submodule "snippets/text-mode/latex-mode"]
	path = snippets/text-mode/latex-mode
	url = https://github.com/madsdk/yasnippets-latex.git
[submodule "plugins/full-ack"]
	path = plugins/full-ack
	url = https://github.com/nschum/full-ack.git
[submodule "plugins/dutch-holidays"]
	path = plugins/dutch-holidays
	url = git://github.com/mikolajb/emacs-dutch-holidays.git
[submodule "plugins/multiple-cursors"]
	path = plugins/multiple-cursors
	url = https://github.com/magnars/multiple-cursors.el.git
