[submodule "plugins/polish-holidays"]
	path = plugins/polish-holidays
	url = https://github.com/mikolajb/emacs-polish-holidays.git
        branch = master
[submodule "snippets/text-mode/latex-mode"]
	path = snippets/text-mode/latex-mode
	url = https://github.com/madsdk/yasnippets-latex.git
        branch = master
[submodule "plugins/dutch-holidays"]
	path = plugins/dutch-holidays
	url = git://github.com/mikolajb/emacs-dutch-holidays.git
        branch = master
[submodule "plugins/zenburn-emacs"]
	path = plugins/zenburn-emacs
	url = https://github.com/bbatsov/zenburn-emacs.git
	branch = master
[submodule "plugins/solarized-emacs"]
	path = plugins/solarized-emacs
	url = git@github.com:mikolajb/solarized-emacs.git
[submodule "plugins/dracula-theme"]
	path = plugins/dracula-theme
    url = git@github.com:mikolajb/emacs-dracula-theme.git
[submodule "plugins/emacs-material-theme"]
	path = plugins/emacs-material-theme
	url = git@github.com:mikolajb/emacs-material-theme.git
[submodule "plugins/icicles"]
	path = plugins/icicles
	url = https://github.com/emacsmirror/icicles.git
